# Build output
**/bin/
**/obj/

# VS files
**/.vs/
*.user

# Frontend
tutorconnect-frontend/dist/
tutorconnect-frontend/.angular/
tutorconnect-frontend/node_modules/
node_modules/

# Test results
**/TestResults/

# Credentials and secrets
**/google-credentials.json
**/google-credentials.json.json
**/tutorconnect-494110-dc3a7c066690.json
